html,
body {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    margin: 0 !important;
}

.table--container {
    margin: 0 20px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F8F8F8;
}

.container__card {
    width: calc(100% - 40px);
    max-width: 1400px;
    margin: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(128, 131, 132, 0.17), 0 2px 6px 0 rgba(61, 61, 61, 0.36);
}

.hide {
    display: none !important;
}

.btn__secondary {
    color: #303030;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
}


.btn:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: all ease-in-out .1s;
}

.btn__primary {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #0062FA;
    padding: 8px 16px;
}

/*---------------------------------------- Loader --------------------------------*/
.loader__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.loader__title {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    margin-top: 5%;
    line-height: 24px;
    margin-bottom: 20px;
    flex: 0 0 100%;
}

.loader__curtain {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .65);
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all ease-in-out .3s;
}

.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.progress_spinner {
    width: 60px;
    height: 60px;
    position: static;
    margin: 0;
    visibility: visible;
    opacity: 1;
}

.spinner:before {
    content: "";
    width: 40px;
    height: 40px;
    margin: 0 !important;
    position: absolute;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    animation: rotation .7s infinite linear;
}

.progress {
    width: 20px;
    position: relative;
    top: 30%;
    left: 20%;
    text-align: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/*---------------------------------------- table HEADER --------------------------------*/
.table__title {
    color: #303030;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 20px;
    text-transform: uppercase;
}

.table__item-type {
    padding: 12px 20px 0 20px;
    color: #303030;
    font-size: 14px;
    line-height: 20px;
}

.table__item-count {
    padding: 12px 20px 0 20px;
    color: #303030;
    font-size: 14px;
    line-height: 20px;
}

.warning {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #FF7A01;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.warning__icon {
    height: 28px;
    width: 28px;
    background-color: #FF7A01;
    border-radius: 100px;
    margin-right: 20px;
}

/*.warning_img {
  height: 16px;
  width: 16px;
  background-color: #FFFFFF;
}*/

.button__container {
    display: flex;
    padding: 40px 20px 16px 20px;
    justify-content: space-between;
}

/*---------------------------------------- Modal --------------------------------*/

/* The Modal (background) */
.modal {
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(48, 48, 48, 0.8);
    transition: all ease-in-out .3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Modal Content */
.modal__content {
    padding: 20px;
    width: 600px;
    max-height: 500px;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal__title {
    color: #303030;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.column-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 180px;
    overflow-y: scroll;
}

.checkbox-column {
    width: 100%;
    padding-bottom: 12px;
}

.modal__footer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-end;
    padding-top: 40px;
}

.margin-right__4 {
    margin-right: 4px;
}

/* The Close icon */
svg {
    stroke-width: 5px;
    stroke-linecap: round;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 20px;
}

svg.stroke {
    stroke: #303030;
    fill: none
}

.stroke:hover,
.stroke:focus {
    cursor: pointer;
}

.modal__description {
    padding: 40px 0 16px 0;
    color: #303030;
    font-size: 14px;
    line-height: 20px;
}


/*---------------------------------------- TABULATOR OVERRIDE  --------------------------------*/
.tabulator {
    background-color: #FAFAFA !important;
    border-radius: 4px !important;
}

.tabulator-cell {
    height: 44px;
    padding: 12px !important;
    border-bottom: 1px solid #aaa !important;
    background-color: #fff !important;
}

.tabulator-row {
    background-color: #FAFAFA !important;
}

.tabulator-col {
    height: 40px;
    padding: 8px !important;
}

.tabulator-col::first-letter {
    text-transform: uppercase !important;
}


.tabulator-footer {
    padding: 0 !important;
    background-color: #fff !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    justify-content: flex-end !important;
}

.tabulator-page {
    padding: 8px 16px !important;
    color: #303030 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: center !important;
    margin: 0 4px !important;
}

.tabulator-paginator {
    display: none !important;
}

.tabulator-pages {
    margin: 0 !important;
}

.align-right {
    text-align: end;
}

/*---------------------------------------- TABULATOR Pagination  --------------------------------*/

.pagination {
    display: flex;
    padding: 24px 20px 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.pagination__details {
    color: #303030;
    font-size: 14px;
    line-height: 20px;
}

.disabled {
    opacity: .5;
}

.disabled:hover {
    cursor: default;
    pointer-events: none;
}

.pagination__button {
    margin-left: 4px;
}
